@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamicHeight {
  height: 100vh;
}

@supports (height: 100dvh) {
  .dynamicHeight {
    height: 100dvh;
  }
}

.dynamicMinHeight {
  min-height: 100vh;
}

@supports (height: 100dvh) {
  .dynamicMinHeight {
    min-height: 100dvh;
  }
}

.scrollbarHidden::-webkit-scrollbar {
  display: none;
}

.scrollbarHidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
